In [2]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [3]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
# initializing the file path names
file_path = os.path.join("data","covid")

In [4]:
# creating the file directories
os.makedirs(file_path, exist_ok=True)
# 
csv_path = os.path.join(file_path, "WHO_cov19_global_data.csv")
urllib.request.urlretrieve(url,csv_path)

('data/covid/WHO_cov19_global_data.csv',
 <http.client.HTTPMessage at 0x7fc2dc80bd60>)

In [7]:
# Storing csv data within this file
df = pd.read_csv(csv_path)

In [8]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
154519,2021-10-11,ZW,Zimbabwe,AFRO,34,131796,1,4637
154520,2021-10-12,ZW,Zimbabwe,AFRO,79,131875,6,4643
154521,2021-10-13,ZW,Zimbabwe,AFRO,141,132016,2,4645
154522,2021-10-14,ZW,Zimbabwe,AFRO,92,132108,3,4648
154523,2021-10-15,ZW,Zimbabwe,AFRO,143,132251,7,4655

In [9]:
# Controlling the digits on the index number set by pandas
# Index is a seperate object
df_array = df.index
df_array

RangeIndex(start=0, stop=154524, step=1)

In [13]:
df_array.valuesb

array([     0,      1,      2, ..., 154521, 154522, 154523])

In [19]:
# Shows us the data types associated with the data columns
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [15]:
# Shows the number of rows x columns
df.shape

(154524, 8)

In [16]:
# Prints out the data frame columns
df_cols = df.columns
df_cols

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [18]:
# Shows the first 5 rows of data
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0